body {
  padding-top: 50px;
}

body, html, .eminem-wraps {
  height: 100%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.eminem-wraps {
	height: 100%;
}

.img-wrapper {
	width: 33%;
	height: 50%;
	border: solid;
	border-width: 3px;
	float: left;
}

.tile {
	margin-left: auto;
	margin-right: auto;
	height: 75%;
	text-align: center;
	width: auto;
}