body {
  padding-top: 50px;
}

body, html, .eminem-wraps {
  height: 100%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.eminem-wraps {
	padding: 2px;
	height: 100%%;
}

.img-wrapper {
	width: 33%;
	height: 33%;
	border: solid;
	border-width: 2px;
	float: left;
}

.tile {
	margin-left: auto;
	margin-right: auto;
	height: 75%;
	width: auto;
	display:block;
}

.selected {
	border-color: yellow;
	border-width: 5px;
}

#hidden {
	display: none;
}