body {
    padding-top: 50px;
    padding-bottom: 0;
}

body, html, .eminem-wraps {
    height: 100%;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.eminem-wraps {
    padding: 2px;
    height: 100%;
}

.img-wrapper {
    border: solid;
    border-width: 3px;
    float: left;
    border-color: gray;
}

.plugintile {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    height: 95%;
    width: auto;
    display:block;
}

.tile-pic {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    height: 60%;
    width: auto;
    display:block;
}

.center-title {
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

.selected {
    border-color: yellow;
    border-width: 3px;
}

.now-playing {
    height: 50px;
    width: 100%;
    background-color: black;
}

#hidden {
    display: none;
}